<div class="navigation" id="gallery">
	<img src="img/logo.jpg" ui-sref="home" alt="logo">
	<a ui-sref="galerry">Галерея</a>
	<a ui-sref="about">Обо Мне</a>
	<a ui-sref="contact">Контакты</a>
</div>
<div class="about">
	<div class="about-content">
		<p>Меня зовут Соня</p>
		<p>Я из Черновцов</p>
		<p>Занимаюсь фотографией с 2015 года</p>
		<p>Любимые жанры сьемки: портрет, архитектура.</p>
		<p>Так же снимаю в таких жанрах как: пейзаж, природа, уличные фото, предметная сьемка, модная фотография(fashion photography),
			мероприятия.
		</p>

		<p>Считаю что фото - это лучший вариант, с помощью которого можно запечатлить что угодно) На этом сайте Вы можете осмотреть
			мои работы, оценить и решить хотите ли Вы со мной работать?)</p>
	</div>
</div>