<div class="navigation" id="gallery">
	<img src="img/logo.jpg" ui-sref="home" alt="logo">
	<a ui-sref="galerry">Галерея</a>
	<a ui-sref="about">Обо Мене</a>
	<a ui-sref="contact">Контакты</a>
</div>
<div class="contact">
	<div class="contact-content">
		<p class="content-title">СВЯЗЬ СО МНОЙ</p>
		<p>
			<i class="fa fa-phone"></i> Телефон: +380969492508(звонки, WhatsApp) +380996336402(только Viber)</p>
		<p>
			<i class="fa fa-envelope"></i>Почта: milka.sprt@gmail.com</p>
		<p>
			<a href="https://vk.com/idmilkasprt" target="_blank">
				<i class="fa fa-vk"></i>
			</a>
		</p>
		<p>
			<a href="https://www.instagram.com/milka_sprt/" target="_blank">
				<i class="fa fa-instagram"></i>
			</a>
		</p>

		<p>
			<a href="https://www.facebook.com/milka.sprt" target="_blank">
				<i class="fa fa-facebook"></i>
			</a>
		</p>
	</div>
</div>