<div id="container" class="container intro-effect-sidefixed" ng-controller="MainCtrl">
			<!-- Top Navigation -->
			<header class="header">
				<div class="bg-img"><img src="img/primaryPhoto.jpg" alt="Background Image" /></div>
			</header>
			<article class="content">
				<div class="title">
					<img src="img/logo.jpg" alt="logo">
					<p class="subline">Sonya Photo</p>
				</div>
				<div class="navigation">
					<a ui-sref="galerry">Галерея</a>
					<a ui-sref="about">Обо Мне</a>
					<a ui-sref="contact">Контакты</a>
				</div>
				<div class="contentItem" ui-sref="galerry">
					<img src="img/portret.jpg">
					<h1>Портретная съёмка</h1>
					<p>Идеальный вариант для создания собственного портфолио. Так-же если просто хотите обзавестись хорошими снимками, этот вариант для Вас!</p>
				</div>
				<div class="contentItem" ui-sref="galerry">
					<img src="img/simya.jpg">
					<h1>Семейная съёмка</h1>
					<p>То что нужно для того, чтоб запечатлить лучшие моменты из жизни и сохранить воспоминания!</p>
				</div>
				<div class="contentItem" ui-sref="galerry">
					<img src="img/love-story.jpeg">
					<h1>Love-story</h1>
					<p>Для тех кто хочет показать свои чувства</p>
				</div>
				<div class="contentItem" ui-sref="galerry">
					<img src="img/architektura.jpg">
					<h1>Архитектурная съёмка</h1>
					<p>Желаете получить хорошие кадры какого-то предмета или места, тогда вам сюда</p>
				</div>
			</article>
</div>
<script src="./js/scrollEfect.js"></script>