<div id="container" class="container" ng-controller="MainCtrl">
	<header class="top-menu">
		EXSEL PARODY
	</header>
	<div class="discription">
		<p>Щоб використати функцію SUM, введіть у поля нижче відповідні ячійки</p>
	</div>
	<button ng-click="vm.addItems()" class="button">Зберегти дані</button>
	
	<div class="console-area">
		<span>SUM(</span>
		<input type="text" ng-model="vm.items.x" ng-change="vm.sum(vm.items.x, vm.items.y)">+
		<input type="text" ng-model="vm.items.y" ng-change="vm.sum(vm.items.x, vm.items.y)">) =
		<input type="text" ng-model="vm.items.result" disabled>

	</div>
	<span class="error">{{vm.error}}</span>
	<div class="row">
		<div class="field-area">
			<div class="character">
				<span>a</span>
				<span>b</span>
			</div>
			<div class="inputs">
				1<input type="text" ng-model="vm.items.a1" ng-change="vm.sum(vm.items.x, vm.items.y)">
				<input type="text" ng-model="vm.items.b1" ng-change="vm.sum(vm.items.x, vm.items.y)"><br>
				2<input type="text" ng-model="vm.items.a2" ng-change="vm.sum(vm.items.x, vm.items.y)">
				<input type="text" ng-model="vm.items.b2" ng-change="vm.sum(vm.items.x, vm.items.y)"><br>
				3<input type="text" ng-model="vm.items.a3" ng-change="vm.sum(vm.items.x, vm.items.y)">
				<input type="text" ng-model="vm.items.b3" ng-change="vm.sum(vm.items.x, vm.items.y)">
			</div>
		</div>
	</div>
	
</div>